nav {
	font-family: "Avenir Next W01",Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.6em;
    text-transform: uppercase;
    word-spacing: 0;
}